<!doctype html>
<html class="no-js" lang="fr-CA" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html" />
    <!-- TODO -->
    <meta name="description" content="Le Mixeur : Rencontrez des gens qui vous ressemblent !">
    <!-- TODO -->
    <meta name="theme-color" content="#fafafa">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- TODO -->
    <meta property="og:title" content="Le Mixeur">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel='stylesheet' href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">
    <!-- TODO -->
    <title>Le Mixeur - Index</title>
</head>

<body>
    <!-- Header here -->

    <!-- Content here -->
    <p><a th:href="@{/register}">Inscription</a></p>

    <!-- Footer here -->

    <!-- Scripts here -->
    <script th:src="@{/js/vendor/modernizr-3.11.2.min.js}"></script>
    <script th:src="@{/js/plugins.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</body>

</html>